* {
  background-color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: 400px 200px 400px;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  margin-top: 5%;
}

.container > div {
  height: 600px;
}

.heros,
.villains {
  display: grid;
  grid-template-columns: 170px 170px;
  align-items: baseline;
  gap: 20px;
  background-color: white;
  padding: 20px;
}

.heros > div {
  height: 250px;
}

.villains > div {
  height: 250px;
}

.hero1,
h1 p {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.hero2,
h1 p {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.Villain1,
h1 p {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.Villain2,
h1 p {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.Villain2 h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#heros-score,
#villains-score,
#hyphen {
  font-size: 100px;
  background-color: white;
}

#score {
  text-align: center;
  background-color: white;
}

.scores {
  background-color: white;
}
